.item-name {
    margin-bottom: 30px;
}

.item-counter {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom: 10px;
}

.item-counter > button {
    height: 30px;
    aspect-ratio: 1;
    border: none;
    background-color: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-counter > button > * {
    pointer-events: none;
}

.item-counter > button:first-child {
    border-radius: 4px 0 0 4px;
}

.item-counter > button:last-child {
    border-radius: 0 4px 4px 0;
}

.item-counter > button:hover {
    background-color: #f8f8f8;
}

.item-counter > button svg {
    color:rgb(48, 126, 164);
}

.item-counter > button:hover svg {
    color:rgb(37, 97, 126);
}

.item-counter > span {
    font-weight: 600;
    display: flex;
    align-items: center;
}

.add-to-cart {
    align-self: flex-end;
    padding: 8px 16px;
    border: 1px solid rgb(48, 126, 164); 
    color: #213547;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    font-size: 13px;
}

.add-to-cart:hover {
    background-color: rgb(48, 126, 164);
    color: #f0f0f0;
}

.stock-alert {
    font-size: 10pt;
    text-align: right;
    transition: color 1s ease;
}

.count-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    height: 45px;
    margin-top: 10px;
}

.item-counter.type-card {
    margin: 0;
    flex-grow: 2;
    font-size: 14px;
}

.add-to-cart.type-card {
    margin: 0;
    flex-grow: 0;
    align-self: center;
    padding: 5px 5px 5px 3px; /* Solo asi parece centrado */
    display:flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart.type-card svg {
    color:rgb(48, 126, 164);
}

.add-to-cart.type-card:hover svg {
    color:#e5e5e5;
}

.checkoutButtons {
    display: flex;
    justify-content: flex-end;
    gap:10px;
}

.no-stock {
    margin-top: 20px; 
    color: rgb(141, 22, 22);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
