.nav-button {
    height: 100%;
    width: 160px;
    display: flex;
    justify-content: right;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #dddddd;
    flex-grow: 1;
    cursor: pointer;

}

.nav-button svg {
    transform: rotate(-90deg);
}

.nav-button:is(:focus, :hover) svg {
    transform: rotate(0deg);
    transition: transform ease-in-out 0.2s;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out;
}

.nav-button:is(:not(:focus), :not(:hover)) svg {
    transition: transform ease-in-out 0.2s;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out;
}

.nav-button:is(:hover, :focus) {
    background-image: linear-gradient(180deg,
                                     rgba(245,245,245,1) 0%, 
                                     rgba(255,255,255,1) 30%, 
                                     rgba(255,255,255,1) 50%, 
                                     rgba(255,255,255,1) 70%, 
                                     rgba(245,245,245,1) 100%);
}